.header{
  display: flex;
  padding: 20px;
  background-color: rgb(9, 152, 247);
  justify-content: space-between;
  color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
.left{
  font-size: 1.6em;
}
.right{
  font-size: smaller;
}
.container{
  height: max-content;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.mid{
  width: 70%;
  height: max-content;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
hr{
  border-color: rgba(128, 128, 128, 0.3);
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px
}
.post{
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 10px 0px;
  padding: 10px;
}
.userPost{
  display: flex;
  padding: 5px;
  gap: 10px;
  align-items: center;
  margin-bottom: 8px;
}
.user{
  margin-left: 7px;
}
.foto{
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.time{
  font-size: x-small;
}
.name{
  font-size: 0.9em;
  font-weight: bold;
  margin: 2px 0px;
}
.commentContainer{
  display: flex;
  padding: 5px;
  gap: 5px;
  margin: 5px 0px;
}
.comment{
  gap: 5px;
  width: 100%;
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
  margin-left: 10px;
  padding: 5px;
}
.content{
  padding: 5px;
  font-size: 0.9em;
  word-break: break-all;
}